.envrc
.venv/
.gradio/
work_dirs*

# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
ENV/
.VENV/

# Distribution files
build/
dist/
*.egg-info/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# IDE files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Testing and coverage
htmlcov/
.coverage
*.cover
*.py,cover
.cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pre-commit hooks
.pre-commit-config.yaml~
